<!DOCTYPE html>
<html>
  <head>
    <%- include('layout/bootstrap.ejs'); -%>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/community.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('layout/navbar.ejs'); -%>
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">加入共備社群</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <hr> 
            <div class="form-group">
              <label>想要創立新的共備社群嗎？<a href="" data-toggle="modal" data-target="#creatCommunityModal">前往創立</a></label>
            </div> 
          </div>
        </div>
      </div>
    </header>
      
    <!--Main-->
    <main role="main" class="container" style="margin-bottom: 10%;">
      <div class="mx-auto">
        <div class="form-group mt-5">
          <div class="title-bar bg-selfgreen align-items-center">
            <h4 class="text-white font-weight-bold pl-3">現有的社群<small class="pl-3">目前共有個<%= communityNumber %>共備社群</small></h4>
          </div>
          <p id="allCommunityData" style="display: none;"><%= allCommunityData %></p>
          <table id="allCommunityTable"></table>
        </div>
        <div class="form-group mt-5">
          <div class="title-bar bg-selfblue mb-3">
            <h4 class="text-white font-weight-bold pl-3">您已加入的社群</h4>
          </div>
          <p id="memberCommunityData" style="display: none;"><%= memberCommunityData %></p>
          <p id="memberCommunityEmptyMsg" class="font-weight-bold text-danger"></p>
          <table id="memberCommunityTable"></table>
        </div>
        <div class="form-group mt-5">
          <div class="title-bar bg-selfpink mb-3">
            <h4 class="text-white font-weight-bold pl-3">您正在申請的社群</h4>
          </div>
          <p id="applicationCommunityData" style="display: none;"><%= applicationCommunityData %></p>
          <p id="applicationCommunityEmptyMsg" class="font-weight-bold text-danger"></p>
          <table id="applicationCommunityTable"></table>
        </div>
      </div>
    </main>
    <%- include('modal.ejs'); -%>
  </body>
</html>