<!DOCTYPE html>
<html>
  <head>
    <%- include('bootstrap.ejs'); -%>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/dashboard.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar.ejs'); -%>
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">加入共備社群</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <div class="form-row">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input type="text" class="form-control form-control-lg" id="searchInput" placeholder="搜尋您想找的社群...">
                </div>
              </div>
              <hr>
              <div class="form-group">
                <label>想要創立新的共備社群嗎？<a href="" data-toggle="modal" data-target="#creatCommunityModal">前往創立</a></label>
              </div> 
          </div>
        </div>
      </div>
    </header>
      
    <!-- Modal -->
    <div class="modal fade" id="creatCommunityModal" tabindex="-1" role="dialog" aria-labelledby="creatCommunityModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="creatCommunityModalLabel">創立新社群</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" id="errmsg" style="display: none;"></div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" id="community_name" name="community_name" class='form-control' placeholder="請輸入社群名稱" required autofocus>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" id="community_key" name="community_key" class='form-control' placeholder="請輸入社群密碼" required autofocus>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" value="建立" class="btn btn-primary" onclick="createCommunity()">
          </div>
        </div>
      </div>
    </div>

    <!--Main-->
    <main role="main" class="container">
      <div class="mx-auto">
        <div class="form-group mt-5">
          <div class="title-bar bg-selfgreen align-items-center">
            <h4 class="text-white font-weight-bold pl-3">現有的社群<small class="pl-3">目前共有個<%= communityNumber %>共備社群</small></h4>
          </div>
          <p id="allCommunityData"><%= allCommunityData %></p>
          <p id='errmsgAll' class="alert alert-warning mt-3" style="display: none;"></p>
          <table class="table table-bordered mt-3" id="allCommunityTable">
            <thead class="thead-light">
              <tr>
                <th>社群名稱</th>
                <th>創立時間</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="allCommunityTbody"></tbody>
          </table>
        </div>
        <div class="form-group mt-5">
          <div class="title-bar bg-selfblue mb-3">
            <h4 class="text-white font-weight-bold pl-3">您已加入的社群</h4>
          </div>
          <p id="memberCommunityData"><%= memberCommunityData %></p>
          <p id="memberCommunityEmptyMsg" class="font-weight-bold text-danger"></p>
          <table class="table table-bordered" id="memberCommunityTable">
            <thead class="thead-light">
              <tr>
                <th>社群名稱</th>
                <th>創立時間</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="form-group mt-5">
          <div class="title-bar bg-selfpink">
            <h4 class="text-white font-weight-bold pl-3">您正在申請的社群</h4>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>