<!DOCTYPE html>
<html>
  <head>
    <%- include('bootstrap.ejs'); -%>
    <script src="/javascripts/setpagecontent.js"></script>
    <script src="/javascripts/setlessonplan.js"></script>
    <script src="/javascripts/setselectoption.js"></script>
    <script src="/javascripts/setactivity.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/summernote/summernote-bs4.min.css" rel="stylesheet">
    <script src="/summernote/summernote-bs4.min.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar2.ejs'); -%>
    <div class="page-wrapper">
      <%- include('sidebar.ejs'); -%>
      <div class="page-content">
        <div class="content">

          <!--實作/想法切換-->
          <div class="row">
            <div class="mode-switch position-fixed">
              <div class="btn-group mode-switch-btn" role="group">
                <input type="button" class="btn btn-success active" value="教案撰寫">
                <input type="button" class="btn btn-success" value="想法討論">
              </div>
            </div>
          </div>
          
          <div class="card" style="margin-top: 50px;">
            <div class="h5 card-header text-white bg-selfblue">
              訂定課程目標
            </div>
            <div id="setlesson" class="card-body">
              <!--js所需資料-->
              <p id="unitData" style="display: none;"><%= unitData %></p>
              <p id="activityData" style="display: none;"><%= activityData %></p>
              <p id="course_field_info" style="display: none;"><%= course_field %></p>
              <p id="course_grade_info" style="display: none;"><%= course_grade %></p>
              <p id="ccdimesionData" style="display: none;"><%= ccdimesionData %></p>
              <p id="ccitemData" style="display: none;"><%= ccitemData %></p>
              <p id="ccfieldData" style="display: none;"><%= ccfieldData %></p>
              <p id="lfitemData" style="display: none;"><%= lfitemData %></p>
              <p id="lfchilditemData" style="display: none;"><%= lfchilditemData %></p>
              <p id="lfcontentData" style="display: none;"><%= lfcontentData %></p>
              <p id="issuenameData" style="display: none;"><%= issuenameData %></p>
              <p id="issuethemeData" style="display: none;"><%= issuethemeData %></p>
              <p id="issuecontentData" style="display: none;"><%= issuecontentData %></p>
              <!------------------------------------------------------------------>
              <!-- <div class='card' id='cardidtest'>
                <div class='card-header bg-white' id='headertest'>title
                    <span class='float-right' data-toggle='collapse' data-target='#test'>
                        <i id='testicon' aria-hidden='true'></i>
                    </span>
                </div>
                <div class='card-body collapse show' id='test'>
                  <div class="form-group row">
                    <label class="control-label col-sm-2">教案簡介</label>
                    <div class="col-sm-10">
                      <textarea id="lessonplan_intro" class="form-control" rows="5"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="mode-switch">
                      <div class="bt-group float-right">
                        <input type="button" id='cleartest' class="btn btn-secondary" value="清除">
                        <input type="button" class="btn btn-primary" value="儲存">
                      </div>
                    </div>
                  </div>
                  
                </div>測試card-body end -->
              <!-- </div>測試card end -->
            </div><!--setlesson end-->
          </div><!--card 訂定課程目標 end-->
          <div class="card">
            <div class="h5 card-header text-white bg-selfblue">
              活動與評量設計
            </div>
            <div id="setactivity" class="card-body">
              <div class="row">
                <div class="card col-9 nopadding">
                  <h5 class="card-header bg-white font-weight-bolder">活動title
                    <span class="float-right" data-toggle="collapse" data-target="#activity_1"><i class="fa fa-angle-up"></i></span>
                  </h5>
                  <div class="card-body collapse show" id="activity_1">
                    <button class="btn btn-outline-info" data-toggle="modal" data-target="#addprocessModal"><i class="fas fa-plus"></i> 新增活動流程</button>
                    <table class="table table-bordered activitytable mt-3" id="activity_1Table">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col" width="90">學習目標</th>
                          <th scope="col" width="400">活動流程</th>
                          <th scope="col" width="60">時間</th>
                          <th scope="col" width="150">評量方式</th>
                          <th scope="col">備註</th>
                          <th scope="col" width="50"></th>
                        </tr>
                      </thead>
                      <tbody class="activityTbody" id="activity_1Tbody">
                        <tr>
                          <th scope="row">1</th>
                          <td></td>
                          <td>課前準備1.教師利用生活情境問題引起學習動機，並點選先備知識診斷測驗未經熟知學生說說看自己的經驗。</td>
                          <td>05</td>
                          <td id="activity_1_assessmentTd_1">
                            <a href="" class="assessment_link font-weight-bolder" data-toggle="modal" data-target="#addassessmentModal" data-targettr="activity_1_assessmentTd_1">新增評量方式...</a>
                            <div class="assessment_content">
                              <hr>
                              <span>專注觀看並討論與分享</span>
                              <div class="btn-group">
                                <a href="" class="assessment_link"><small>編輯</small></a>
                                <a href="" class="assessment_link_del ml-1"><small>刪除</small></a>
                              </div>
                            </div>
                          </td>
                          <td>使用因材網學生診斷報表</td>
                          <td>
                            <input type="button" class="btn btn-warning mb-1" value="編輯">
                            <input type="button" class="btn btn-danger" value="刪除">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card col nopadding">
                  <h5 class="card-header bg-selfgreen font-weight-bolder">團隊想法</h5>
                  <div class="card-body collapse"></div>
                </div>
              </div><!--活動流程測試-->
            </div><!--setactivity end-->
          </div><!--card 活動與評量設計 end-->
        </div><!--content end-->
      </div><!--pagecontent end-->
    </div>
    <%- include('modal.ejs'); -%>
  </body>
</html>