<!DOCTYPE html>
<html>
  <head>
    <%- include('layout/bootstrap.ejs'); -%>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/setpagecontent.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('layout/navbar2.ejs'); -%>
    <div class="page-wrapper">
      <div class="row">
        <%- include('layout/sidebar.ejs'); -%>
        <div class="col-10 page-content">
  
            <!--實作/想法切換-->
            <div class="row">
              <div class="mode-switch position-fixed">
                <div class="btn-group mode-switch-btn" role="group" id="mode_switch">
                  <input type="button" class="btn btn-success mode_btn" value="教案撰寫" id="edit">
                  <input type="button" class="btn btn-success mode_btn" value="想法討論" id="idea">
                </div>
              </div>
            </div>
            <p id="lessonplanActivityName" style="display: none;"><%= lessonplanActivityName %></p>
            
            <% if (mode == "lessonplanContent") { %>
              <%- include('layout/lessonplanContent.ejs'); -%>
            <% }else if(mode =="ideaContent"){ %>
              <%- include('layout/ideaContent.ejs'); -%>
            <% } %>
            
        </div><!--pagecontent end-->
      </div>
    </div>
    <%- include('modal.ejs'); -%>
    <script>
      if("<%= mode %>" == "lessonplanContent"){
        $("#edit").addClass("active");
      }
      else{
        $("#idea").addClass("active");
      }

      $(".mode-switch-btn > .mode_btn").click(function(){
        var id = $(this).attr("id");
        $(".mode-switch-btn > .mode_btn").removeClass("active");
        window.location.href = "/lessonplan/"+id+"/<%= community_id %>";
        $(this).addClass("active");
      })

      $(".siderul").click(function(){
        $(this).addClass("active");
      })
    </script>
  </body>
</html>