<!DOCTYPE html>
<html>
  <head>
    <%- include('bootstrap.ejs'); -%>
    <script src="/javascripts/setpagecontent.js"></script>
    <script src="/javascripts/setlessonplan.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/summernote/summernote-bs4.min.css" rel="stylesheet">
    <script src="/summernote/summernote-bs4.min.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar2.ejs'); -%>
    <div class="page-wrapper">
      <%- include('sidebar.ejs'); -%>
      <div class="page-content">
        <div class="content">

          <!--實作/想法切換-->
          <div class="row">
            <div class="mode-switch position-fixed">
              <div class="btn-group mode-switch-btn" role="group">
                <input type="button" class="btn btn-success active" value="教案撰寫">
                <input type="button" class="btn btn-success" value="想法討論">
              </div>
            </div>
          </div>
          
          <div class="card" style="margin-top: 50px;">
            <div class="card-header text-white bg-selfblue">
              訂定課程目標
            </div>
            <div id="setlesson" class="card-body">
              <!--js所需資料-->
              <p id="unitData" style="display: none;"><%= unitData %></p>
              <p id="activityData" style="display: none;"><%= activityData %></p>
              <p id="course_field_info"><%= course_field %></p>
              <p id="course_grade_info"><%= course_grade %></p>
              <!------------------------------------------------------------------>
              <div class='card' id='cardidtest'>
                <div class='card-header bg-white' id='headertest'>title
                    <span class='float-right' data-toggle='collapse' data-target='#test'>
                        <i id='testicon' aria-hidden='true'></i>
                    </span>
                </div>
                <div class='card-body collapse show' id='test'>
                  <div class="form-group row">
                    <label class="control-label col-sm-2">教案簡介</label>
                    <div class="col-sm-10">
                      <textarea id="lessonplan_intro" class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label font-weight-bolder">核心素養</label>
                    <div class="row">
                      <div class="col-sm-4 nopadding-right">
                        <select class="form-control"></select>
                      </div>
                      <div class="col-sm-7 nopadding-right">
                        <select class="form-control"></select>
                      </div>
                      <div class="col nopadding-right">
                        <input type="button" class="btn btn-outline-info" value="加入">
                      </div>
                    </div>
                    <hr>
                    <div id="core_competency_body">
                      <!--<div class="card">
                        <div class="card-header">
                          <b class="card-title">A2 系統思考與解決問題：</b>
                          <p class="card-text">具備問題理解、思辨分析、推理批判的系統思考與後設思考素養，並能行動與反思，以有效處理及解決生活、生命問題。5555555555555555</p>                        
                        </div>
                        <div class="card-body">
                          <b class="card-title">自-E-A2</b>
                          <p class="card-text">能運用好奇心及想像能力，從觀察、閱讀、思考所得的資訊或數據中，提出適合科學探究的問題或解釋資料，並能依據已知的科學知識、科學概念及探索科學的方法去想像可能發生的事情，以及理解科學事實會有不同的論點、證據或解釋方式。</p>
                          <input type="button" class="btn btn-danger float-right" value="刪除">
                        </div>
                      </div>--><!--多select內容 card-->
                    </div><!--core_competency_body end-->
                  </div>
                  <div class="form-group">
                    <label class="control-label font-weight-bolder">學習重點</label>
                    <div class="form-group">
                      <label class="control-label">學習表現</label>
                      <div class="row">
                        <div class="col-sm-4 nopadding-right">
                          <select class="form-control"></select>
                        </div>
                        <div class="col-sm-7 nopadding-right">
                          <select class="form-control"></select>
                        </div>
                        
                      </div>
                      <div class="row mt-2">
                        <div class="col-sm-11 nopadding-right">
                          <select class="form-control"></select>
                        </div>
                        <div class="col nopadding-right">
                          <input type="button" class="btn btn-outline-info" value="加入">
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>
                  <div class="bt-group float-right">
                    <input type="button" class="btn btn-secondary" value="清除">
                    <input type="button" class="btn btn-primary" value="儲存">
                  </div>
                </div><!--測試card-body end -->
              </div><!--測試card end-->
            </div><!--setlesson end-->
          </div><!--card 訂定課程目標 end-->
          <div class="card">
            <div class="card-header text-white bg-selfblue">
              活動與評量設計
            </div>
            <div class="card-body">
            </div>
          </div><!--card 活動與評量設計 end-->
        </div><!--content end-->
      </div><!--pagecontent end-->
    </div>
  </body>
</html>