<div class="card" style="margin-top: 12px;">
  <div class="h5 card-header text-white bg-selfblue">
      訂定課程目標
  </div>
  <div id="setlesson" class="card-body">
      <!--js所需資料-->
      <p id="course_field_info" style="display: none;"><%= course_field %></p>
      <p id="course_grade_info" style="display: none;"><%= course_grade %></p>
      <p id="course_version_info" style="display: none;"><%= course_version %></p>
      <p id="ccdimesionData" style="display: none;"><%= ccdimesionData %></p>
      <p id="ccitemData" style="display: none;"><%= ccitemData %></p>
      <p id="ccfieldData" style="display: none;"><%= ccfieldData %></p>
      <p id="lfitemData" style="display: none;"><%= lfitemData %></p>
      <p id="lfchilditemData" style="display: none;"><%= lfchilditemData %></p>
      <p id="lfcontentData" style="display: none;"><%= lfcontentData %></p>
      <p id="issuenameData" style="display: none;"><%= issuenameData %></p>
      <p id="issuethemeData" style="display: none;"><%= issuethemeData %></p>
      <p id="issuecontentData" style="display: none;"><%= issuecontentData %></p>
      <p id="basicData" style="display: none;"><%= basicData %></p>
      <p id="lessonplanActivityName" style="display: none;"><%= lessonplanActivityName %></p>
      <p id="lessonplanActivityProcessData" style="display: none;"><%= lessonplanActivityProcessData %></p>
      <p id="lessonplanStageData" style="display: none;"><%= lessonplanStageData %></p>
      <p id="convergenceData" style="display: none;"><%= convergenceData %></p>
      <!------------------------------------------------------------------>
  </div><!--setlesson end-->
</div><!--card 訂定課程目標 end-->
<div class="card">
  <div class="h5 card-header text-white bg-selfblue">
    活動與評量設計
  </div>
  <div id="setactivity" class="card-body">
    <div class="row" style="margin-bottom: 15px;">
      <button class="btn btn-add-activity btn-lg col mr-1" data-toggle="modal" data-target="#creatActivityModal"><i class="fas fa-plus"></i> 新增活動</button>
      <button class="btn btn-outline-primary col-2" data-toggle="modal" data-target="#orderActvityModal"><i class="fas fa-exchange-alt" style="transform: rotate(90deg);"></i> 調整活動順序</button>
    </div>
  </div><!--setactivity end-->
</div><!--card 活動與評量設計 end-->

<!--雙向細目表button-->
<div>
  <button type="button" class="btn btn-circle bg-selfblue" title="學習目標與活動、評量對應表" onclick="openTwoWayTableModal();"><i class="fas fa-tasks"></i></i></button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/setpagecontent.js"></script>
<script src="/javascripts/setlessonplan.js"></script>
<script src="/javascripts/setselectoption.js"></script>
<script src="/javascripts/setactivity.js"></script>
